button {
    height: 44px;
    width: auto;
    min-width: 44px;
    display: flex;
    border-radius: var(--radius-full);
    justify-content: center;
    align-items: center;
    font-size: var(--text-body-md);
    line-height: var(--text-height-button);
    font-weight: var(--text-weight-semibold);
}

button svg {
    height: 22px;
    width: 22px;
}

button:hover {
    cursor: pointer;
}

/* TEXT */

.button {
    padding: 10px 20px;
    gap: 5px;
}

/* PRIMARY */

.dark-primary {
    background-color: var(--color-base-black);
    color: var(--color-base-white);
}

.dark-primary:hover {
    opacity: 85%;
}

.dark-primary:active {
    opacity: 100%;
}

.dark-primary a {
    color: var(--color-base-white);
}

/* ALT */

.dark-alt {
    background-color: var(--color-grey-2);
    color: var(--color-text-body-dark);
}

.dark-alt:hover {
    background-color: var(--color-grey-3);
}

.dark-alt:active {
    background-color: var(--color-grey-2);
}

/* GHOST BUTTON */

.dark-ghost {
    background-color: transparent;
}

.dark-ghost:hover {
    background-color: var(--color-grey-2);
}

.dark-ghost:active {
    background-color: var(--color-grey-3);
}

/* WHITE */

.light-primary {
    background-color: var(--color-base-white);
    color: var(--color-text-body-dark);
}

.light-primary:hover {
    opacity: 85%;
}

.light-primary:active {
    opacity: 100%;
}

/* ALT */

.light-alt {
    background-color: var(--color-grey-2);
    color: var(--color-base-white);
}

.light-alt:hover {
    background-color: var(--color-grey-3);
}

.light-alt:active {
    background-color: var(--color-grey-2);
}

/* GHOST BUTTON */

.light-ghost {
    color: var(--color-base-white);
    background-color: transparent;
}

.light-ghost:hover {
    background-color: var(--color-grey-3);
}

.light-ghost:active {
    background-color: var(--color-grey-4);
}

/* ON BLACK */

.white-primary {
    background-color: var(--color-base-white);
    color: var(--color-text-body-dark);
}

.white-primary:hover {
    opacity: 85%;
}

.white-primary:active {
    opacity: 100%;
}


.white-alt {
    background-color: rgba(255, 255, 255, 0.06);
    color: var(--color-base-white);
}

.white-alt:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.white-alt:active {
    background-color: rgba(255, 255, 255, 0.18);
}

/*  */

.white-ghost {
    color: var(--color-base-white);
    background-color: transparent;
}

.white-ghost:hover {
    background-color: rgba(255, 255, 255, 0.06)
}

.white-ghost:active {
    background-color: rgba(255, 255, 255, 0.12);
}