button {
    height: 44px;
    width: auto;
    min-width: 44px;
    display: flex;
    padding: 10px 20px;
    border-radius: var(--radius);
    justify-content: center;
    align-items: center;
    font-size: var(--text-compact-size);
    line-height: var(--text-compact-height);
    font-weight: 600;
}

button svg {
    height: 24px;
    width: 24px;
}

button:hover {
    cursor: pointer;
}

/* PRIMARY */

.primary {
    background-color: var(--color-primary-1);
    color: var(--color-base-white);
}

.primary:hover {
    background-color: var(--color-primary-2);
}

.primary:active {
    background-color: var(--color-primary-3);
}

.primary a {
    color: var(--color-base-white);
}

/* ALT */

.alt {
    background-color: var(--color-grey-1);
    color: var(--color-tex-body-dark);
}

.alt:hover {
    background-color: var(--color-grey-2);
}

.alt:active {
    background-color: var(--color-grey-3);
}

.icon {
    padding: 10px;
    width: 44px;
}
