button {
    height: 44px;
    width: auto;
    min-width: 44px;
    display: flex;
    border-radius: var(--radius-button);
    justify-content: center;
    align-items: center;
    font-size: var(--text-compact-size);
    line-height: var(--text-compact-height);
    font-weight: var(--weight-semibold);
}

button svg {
    height: 22px;
    width: 22px;
}

button:hover {
    cursor: pointer;
}

/* TEXT */

.button {
    padding: 10px 20px;
    gap: 5px;
}

/* PRIMARY */

.primary {
    background-color: var(--color-base-black);
    color: var(--color-base-white);
}

.primary:hover {
    opacity: 85%;
}

.primary:active {
    opacity: 100%;
}

.primary a {
    color: var(--color-base-white);
}

/* ALT */

.alt {
    background-color: var(--color-grey-2);
    color: var(--color-text-body-dark);
}

.alt:hover {
    background-color: var(--color-grey-3);
}

.alt:active {
    background-color: var(--color-grey-2);
}

/* ICON BUTTON */

.ghost {
    background-color: transparent;
}

.ghost:hover {
    background-color: var(--color-grey-2);
}

.ghost:active {
    background-color: var(--color-grey-3);
}