:root {
    /* BASE */
    --color-base-black: #282725;
    --color-base-white: #FFFFFF;

    /* GREY */
    --color-grey-1: #FBFBFA;
    --color-grey-2: #EEEEED;
    --color-grey-3: #E2E2E0;
    --color-grey-4: #C8C8C7;

    /* ACCENT */
    --color-accent-red: #FA8F95;
    --color-accent-orange: #F7C881;
    --color-accent-green: #81E2A8;
    --color-accent-blue: #8FD3FA;
    --color-accent-purple: #9F90F9;

    /* BODY TEXT */
    --color-text-header-dark: #282725;
    --color-text-header-alt: #D9D9D9;
    --color-text-body-dark: #282725;
    --color-text-body-alt: #777777;
}

.none {
    background-color: transparent;
}

.grey {
    background-color: var(--color-grey-2);
}

.red {
    background-color: var(--color-accent-red);
}

.orange {
    background-color: var(--color-accent-green);
}

.green {
    background-color: var(--color-accent-green);
}

.blue {
    background-color: var(--color-accent-blue);
}

.purple {
    background-color: var(--color-accent-purple);
}

