footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: var(--color-base-white);
}

/* Bottom links */

.bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--max-width);
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 40px;
}

@media screen and (max-width: 700px) {

    .footer-links {
        gap: 20px;
    }
}

@media screen and (max-width: 550px) {
    footer {
        padding: 40px 20px 20px 20px;
        background-color: var(--color-grey-1);
    }

    .bottom-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
    }

    .footer-name {
        text-align: center;
    }

    .footer-links {
        gap: 20px;
    }
}