@import "./typography.css";
@import "./color.css";

:root {
  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 20px;
  --radius-xl: 40px;
  --radius-full: 999px;
  --transition: 250ms;
  --max-width: 1440px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  transition: var(--transition);
}

body {
  width: 100%;
  margin: auto;
  scroll-behavior: smooth;
  transition: none;
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  padding: 200px 20px;
  background-color: var(--color-base-white);
}

main > * {
  max-width: var(--max-width);
}

img {
  display: block;
}

/* TEXT SECTIONS */

.text-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  align-items: center;
}

/* PROJECT TILE */

.tile-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-tiles {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.project-tile {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-xl);
  flex: 1 0 400px;
  background-color: var(--color-grey-1);
  gap: 40px;
  padding: 40px;
}

.project-tile span {
  color: var(--color-text-header-alt);
}

.project-tile svg {
  fill: var(--color-base-white);
  opacity: 0;
}

.project-tile:hover {
  scale: 1.025;
}

.project-tile:hover svg {
  opacity: 1;
}

.project-tile:hover .project-tile-title {
  color: var(--color-base-white);
}

.tile-blue:hover {
  background-color: var(--color-blue-light);
}

.tile-blue:hover .blue-company {
  color: var(--color-blue-dark);
}

.tile-purple:hover {
  background-color: var(--color-purple-light);
}

.tile-purple:hover .purple-company {
  color: var(--color-purple-dark);
}

.project-tile-header {
  display: flex;
  flex-direction: row;
}

.project-tile-title {
  color: var(--color-base-black);
}

.project-tile-title span {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.project-tile img {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .project-tile {
    flex: none;
    width: 100%;
    border-radius: var(--radius-lg);
    padding: 20px;
    gap: 20px;
  }

  .project-tile svg {
    width: 30px;
    height: 30px;
  }
}

.tile-sandbox {
  padding-bottom: 0;
}

.tile-sandbox:hover {
  background-color: var(--color-base-black);
}

.sandbox-gallery {
  width: 100%;
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.sandbox-tile {
  background-color: var(--color-grey-1);
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.sandbox-tile video {
  max-width: 100%;
  border-radius: 40px;
}

.sandbox-tile img {
  max-width: 100%;
}

.tile-a {
  grid-column: 1 / 4;
}

.tile-b {
  grid-column: 4 / 7;
}

.tile-c {
  grid-column: 1 / 3;
}

.tile-d {
  grid-column: 3 / 7;
}

.tile-e {
  grid-column: 1 / 4;
}

.tile-f {
  grid-column: 4 / 7;
}

@media screen and (max-width: 700px) {
  .tile-a, .tile-b, .tile-c, .tile-d, .tile-e, .tile-f {
    grid-column: 1 / 7;
  }

  .sandbox-tile {
    border-radius: var(--radius-md);
  }
}


/* GALLERY */

.section-about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.section-content {
  display: flex;
  flex: 1 0 400px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.gallery {
  aspect-ratio: 1;
  display: grid;
  flex: 1 0 400px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 40px;
  max-height: 680px;
}

.gallery-item {
  height: 100%;
  width: 100%;
  border-radius: var(--radius-lg);
  background: var(--color-grey-2);
  object-fit: cover;
}

.gallery-item.a {
  grid-column: span 3;
  grid-row: span 3;
}

.gallery-item.b {
  grid-column: span 3;
  grid-row: span 4;
}

.gallery-item.c {
  grid-column: span 3;
  grid-row: span 3;
}

.gallery-item.d {
  grid-column: span 3;
  grid-row: span 2;
}

@media screen and (max-width: 700px) {
  .section-about {
    display: flex;
    grid-template-columns: none;
  }
  
  .section-content {
    gap: 20px;
    width: 100%;
    flex: none;
  }
  
  .gallery {
    width: 100%;
    max-height: none;
    flex: none;
    grid-gap: 20px;
  }
  
  .gallery-item {
    border-radius: var(--radius-md);
  }
}

/* ABOUT IMAGES */

.about-images {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}

.about-images-section img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius-lg);
  background: var(--color-grey-2);
}

.about-images-section img:hover{
 scale: 1.05;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-tall {
  aspect-ratio: 3/4;
}

.image-square {
  aspect-ratio: 1;
}

.image-short {
  aspect-ratio: 3/2;
}

.about-images-left, .about-images-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  width: 50%;
}

.about-images-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 40px;
}

@media screen and (max-width: 700px) {
  .about-images {
    gap: 20px;
  }

  .about-images-left, .about-images-right {
    flex-direction: column;
    gap: 20px;
  }

  .about-images-section {
    gap: 20px;
  }

  .about-images-section img {
    border-radius: var(--radius-md);
  }
}

.name-script {
  height: 120px;
}

@media screen and (max-width: 700px) {
  .name-script {
    height: 72px;
  }

  .hello-about {
    gap: 20px;
  }
}

.experience-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.experience-block svg {
  margin: -4px 0;
  fill: var(--color-text-body-alt);
}

.notFound {
  background-color: var(--color-base-black);
  gap: 20px;
  height: 100vh;
  align-items: center;
  justify-content: center;
}