@import "./typography.css";
@import "./color.css";

:root {
  --max-width: 1800px;
  --text-max: 1200px;

  --radius-sm: 5px;
  --radius-md: 10px;
  --radius-lg: 20px;
  --radius-xl: 40px;
  --radius-full: 999px;

  --transition: 250ms;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  transition: var(--transition);
}

body {
  width: 100%;
  margin: auto;
  scroll-behavior: smooth;
  transition: none;
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18vh;
  padding: 18vh 20px;
  background-color: var(--color-base-white);
  overflow-x: hidden;
}

main > * {
  max-width: var(--max-width);
}

img {
  display: block;
}

/* TEXT SECTIONS */

.text-section {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  max-width: var(--text-max);
  margin: auto;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .text-section {
    gap: 40px;
  }
}

.split-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  max-width: var(--text-max);
  margin: auto;
  align-items: flex-start;
}

.split-section-left , .split-section-right{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.split-section-right {
  gap: 40px;
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.current-badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.bubble {
  height: 10px;
  width: 10px;
  background-color: #2B9F60;
  border-radius: var(--radius-full);
}

@media screen and (max-width: 1000px) {
  
  .split-section {
    flex-direction: column;
    gap: 40px;
  }

  .split-section-left , .split-section-right {
    width: 100%;
  }

  .split-section-left {
    gap: 10px;
  }

  .content-block {
    gap: 5px;
  }

  .bubble {
    width: 8px;
    height: 8px;
  }
}

/* HEADER SECTION */

.header-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--text-max);
  gap: 40px;
}

.animated {
  animation-name: slide-up;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
  margin-top: 2%;
  opacity: 0;
}

.animated-delay {
  animation-name: slide-up;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 400ms;
  margin-top: 0;
  opacity: 0;
}

@keyframes slide-up {
  0% {
    margin-top: 2.5vh;
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

/* PROJECT TILE */

.tile-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius-lg);
  background-color: var(--color-grey-1);
  gap: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .project-tile {
    border-radius: var(--radius-md);
  }
}

@media (hover: hover) {

  .project-tile:hover {
    filter: brightness(0.9);
    border-radius: var(--radius-md);
  }
  
  .project-tile:hover img{
    scale: 1.03;
  }
}

.project-tile img {
  width: 100%;
  max-width: var(--text-max);
}

.hero-video {
  background-color: #2B6F5E;
}

.hero-search {
  background-color: #8A456E;
}

.hero-map {
  background-color: #47628B;
}


/* ABOUT IMAGES */

.about-images {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  max-width: var(--max-width);
}

.about-images-section img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius-lg);
  background: var(--color-grey-2);
}

.about-images-section video {
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius-lg);
  background: var(--color-grey-2);
}

.image-tall {
  aspect-ratio: 3/4;
}

.image-square {
  aspect-ratio: 1;
}

.image-short {
  aspect-ratio: 10/8;
}

.about-images-left, .about-images-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 50%;
}

.about-images-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 1000px) { 

  .about-images-section img {
    border-radius: var(--radius-md);
  }

  .about-images-section video {
    border-radius: var(--radius-md);
  }
}

@media screen and (max-width: 700px) { 

  .about-images {
    width: 150vw;
  }

  .images-last {
    display: none;
  }

  .about-images-left {
    width: 66%;
  }

  .about-images-right {
    width: 33%;
  }
}

.notFound {
  gap: 40px;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.big-emoji {
  font-size: 4.75rem;
  line-height: 0.8;
}

@media screen and (max-width: 1000px) {
  
  .big-emoji {
    font-size: 4rem;
  }
}
  
@media screen and (max-width: 700px) {
  .notFound {
     gap: 20px;
  }

  .big-emoji {
    font-size: 3rem;
  }
}

.obi-wan {
  display: inline-flex;
  vertical-align: top;
  padding: 7px 7px 0 7px;
}

.obi-wan img{
  width: 48px;
}

@media screen and (max-width: 1000px) {
  
  .obi-wan {
    padding: 5px 5px 0 5px;
  }
  
  .obi-wan img{
    width: 40px;
  }
  
}

@media screen and (max-width: 700px) {
  
  .obi-wan {
    padding: 3px 3px 0 3px;
  }
  
  .obi-wan img{
    width: 34px;
  }

}