.hero-wrapper {
    width: 100%;
    padding: 200px 0px;
}

.hero-wrapper .title {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .hero-wrapper .title {
        text-align: left;
    }
}