nav {
    margin: 0 20px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logo:hover {
    transform: rotate(-10deg) scale(1.1);
}