nav {
    width: 100%;
    max-width: calc(var(--max-width) + 40px);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: transparent;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dark-logo {
    fill: var(--color-base-black);
}

.white-logo {
    fill: var(--color-base-white);
}

.light-logo {
    fill: var(--color-base-white);
}

.dark-logo:hover , .white-logo:hover, .light-logo:hover {
    transform: rotate(-10deg) scale(1.1);
}

.fixed {
    top: 0;
    position: sticky;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
}